In [19]:
# from google.colab import drive
# drive.mount('/content/drive')

import pandas as pd

In [20]:
# df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Crimes_2022.csv')

In [21]:
df = pd.read_csv('https://data.cityofchicago.org/api/views/9hwr-2zxp/rows.csv?accessType=DOWNLOAD')

In [22]:
df.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,12651978,JF185322,03/24/2022 05:07:00 PM,012XX S WABASH AVE,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,GAS STATION,False,False,...,34.0,33,07,1176963.0,1894862.0,2022,09/02/2024 03:40:51 PM,41.866844,-87.625817,"(41.866843668, -87.625816668)"
1,12592454,JF113025,01/14/2022 03:55:00 PM,067XX S MORGAN ST,2826,OTHER OFFENSE,HARASSMENT BY ELECTRONIC MEANS,RESIDENCE,False,True,...,16.0,68,26,1170805.0,1860170.0,2022,09/14/2023 03:41:59 PM,41.771782,-87.649437,"(41.771782439, -87.649436929)"
2,12601676,JF124024,01/13/2022 04:00:00 PM,031XX W AUGUSTA BLVD,1752,OFFENSE INVOLVING CHILDREN,AGGRAVATED CRIMINAL SEXUAL ABUSE BY FAMILY MEMBER,RESIDENCE,False,True,...,36.0,23,17,1155171.0,1906486.0,2022,09/14/2023 03:41:59 PM,41.899206,-87.705506,"(41.899206068, -87.705505587)"
3,12785595,JF346553,08/05/2022 09:00:00 PM,072XX S UNIVERSITY AVE,1544,SEX OFFENSE,SEXUAL EXPLOITATION OF A CHILD,APARTMENT,True,False,...,5.0,69,17,1185135.0,1857211.0,2022,09/14/2023 03:41:59 PM,41.763338,-87.597001,"(41.763337967, -87.597001131)"
4,12808281,JF373517,08/14/2022 02:00:00 PM,055XX W ARDMORE AVE,1562,SEX OFFENSE,AGGRAVATED CRIMINAL SEXUAL ABUSE,RESIDENCE,False,False,...,39.0,11,17,1138383.0,1937953.0,2022,09/14/2023 03:41:59 PM,41.985875,-87.766404,"(41.985875279, -87.766403857)"

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239620 entries, 0 to 239619
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   ID                    239620 non-null  int64
 1   Case Number           239620 non-null  object
 2   Date                  239620 non-null  object
 3   Block                 239620 non-null  object
 4   IUCR                  239620 non-null  object
 5   Primary Type          239620 non-null  object
 6   Description           239620 non-null  object
 7   Location Description  238648 non-null  object
 8   Arrest                239620 non-null  bool
 9   Domestic              239620 non-null  bool
 10  Beat                  239620 non-null  int64
 11  District              239620 non-null  int64
 12  Ward                  239610 non-null  float64
 13  Community Area        239620 non-null  int64
 14  FBI Code              239620 non-null  object
 15  X Coordinate          234885 non-null  float64
 16  Y Coordinate          234885 non-null  float64
 17  Year                  239620 non-null  int64
 18  Updated On            239620 non-null  object
 19  Latitude              234885 non-null  float64
 20  Longitude             234885 non-null  float64
 21  Location              234885 non-null  object
dtypes: bool(2), float64(5), int64(5), object(10)
memory usage: 37.0+ MB

In [24]:
df.shape

(239620, 22)

## Data Cleaning:

In [25]:
df = df.drop(columns=['ID','Case Number','Year','Location','Block','Primary Type', 'Updated On'])
df['Domestic'] =  df['Domestic'].astype(int) # Converting out of Boolean
df['Arrest'] = df['Arrest'].astype(int)

In [26]:
df = df.drop(columns=['X Coordinate', 'Y Coordinate'])

In [27]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce', format='%m/%d/%Y %I:%M:%S %p')

In [28]:
# df['Updated On'] = pd.to_datetime(df['Updated On'], errors='coerce', format='%m/%d/%Y %I:%M:%S %p')

In [29]:
df = df.dropna()
df.isnull().sum()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 234232 entries, 0 to 239608
Data columns (total 13 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Date                  234232 non-null  datetime64[ns]
 1   IUCR                  234232 non-null  object
 2   Description           234232 non-null  object
 3   Location Description  234232 non-null  object
 4   Arrest                234232 non-null  int64
 5   Domestic              234232 non-null  int64
 6   Beat                  234232 non-null  int64
 7   District              234232 non-null  int64
 8   Ward                  234232 non-null  float64
 9   Community Area        234232 non-null  int64
 10  FBI Code              234232 non-null  object
 11  Latitude              234232 non-null  float64
 12  Longitude             234232 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(5), object(4)
memory usage: 25.0+ MB

In [30]:
districts_to_keep = [1, 13, 12, 11, 2, 9, 16, 14]

In [31]:
filtered_df = df[df['District'].isin(districts_to_keep)].drop_duplicates()

In [32]:
filtered_df.shape

(78083, 13)

In [33]:
num_true_arrests = df['Arrest'].sum()
print(f"Number of True Arrests: {num_true_arrests}")
total_cases = len(df)
print(f"Total Number of Crime Cases: {total_cases}")
print(f"Percentage of True Arrests: {num_true_arrests/total_cases*100}%") # The data is imbalanced

Number of True Arrests: 27248
Total Number of Crime Cases: 234232
Percentage of True Arrests: 11.632910960073772%

In [34]:
num_true_arrests = filtered_df['Arrest'].sum()
print(f"Number of True Arrests: {num_true_arrests}")
total_cases = len(filtered_df)
print(f"Total Number of Crime Cases: {total_cases}")
print(f"Percentage of True Arrests: {num_true_arrests/total_cases*100}%")

Number of True Arrests: 9634
Total Number of Crime Cases: 78083
Percentage of True Arrests: 12.338152991047988%

In [35]:
filtered_df.to_pickle('Data/Chicago_crime_2022_cleaned.pickle')
filtered_df.to_json('Chicago_crime_2022_cleaned.json')
filtered_df.to_csv('Chicago_crime_2022_cleaned.csv',  index=False)