In [1]:
# from google.colab import drive
# drive.mount('/content/drive')

import pandas as pd

In [2]:
# df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Crimes_2022.csv')

In [3]:
df = pd.read_csv('https://data.cityofchicago.org/api/views/9hwr-2zxp/rows.csv?accessType=DOWNLOAD')

In [4]:
df.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,12592454,JF113025,01/14/2022 03:55:00 PM,067XX S MORGAN ST,2826,OTHER OFFENSE,HARASSMENT BY ELECTRONIC MEANS,RESIDENCE,False,True,...,16.0,68,26,1170805.0,1860170.0,2022,09/14/2023 03:41:59 PM,41.771782,-87.649437,"(41.771782439, -87.649436929)"
1,12785595,JF346553,08/05/2022 09:00:00 PM,072XX S UNIVERSITY AVE,1544,SEX OFFENSE,SEXUAL EXPLOITATION OF A CHILD,APARTMENT,True,False,...,5.0,69,17,1185135.0,1857211.0,2022,09/14/2023 03:41:59 PM,41.763338,-87.597001,"(41.763337967, -87.597001131)"
2,12808281,JF373517,08/14/2022 02:00:00 PM,055XX W ARDMORE AVE,1562,SEX OFFENSE,AGGRAVATED CRIMINAL SEXUAL ABUSE,RESIDENCE,False,False,...,39.0,11,17,1138383.0,1937953.0,2022,09/14/2023 03:41:59 PM,41.985875,-87.766404,"(41.985875279, -87.766403857)"
3,12888104,JF469015,11/10/2022 03:47:00 AM,072XX S MAY ST,1477,WEAPONS VIOLATION,RECKLESS FIREARM DISCHARGE,STREET,False,False,...,17.0,68,15,1169903.0,1856822.0,2022,09/14/2023 03:41:59 PM,41.762615,-87.652840,"(41.76261474, -87.652840463)"
4,13209277,JG422539,08/15/2022 09:00:00 AM,0000X W JACKSON BLVD,0810,THEFT,OVER $500,COMMERCIAL / BUSINESS OFFICE,False,False,...,4.0,32,06,NaN,NaN,2022,09/14/2023 03:43:09 PM,NaN,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239602 entries, 0 to 239601
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   ID                    239602 non-null  int64
 1   Case Number           239602 non-null  object
 2   Date                  239602 non-null  object
 3   Block                 239602 non-null  object
 4   IUCR                  239602 non-null  object
 5   Primary Type          239602 non-null  object
 6   Description           239602 non-null  object
 7   Location Description  238633 non-null  object
 8   Arrest                239602 non-null  bool
 9   Domestic              239602 non-null  bool
 10  Beat                  239602 non-null  int64
 11  District              239602 non-null  int64
 12  Ward                  239592 non-null  float64
 13  Community Area        239602 non-null  int64
 14  FBI Code              239602 non-null  object
 15  X Coordinate          234886 non-null  float64
 16  Y Coordinate          234886 non-null  float64
 17  Year                  239602 non-null  int64
 18  Updated On            239602 non-null  object
 19  Latitude              234886 non-null  float64
 20  Longitude             234886 non-null  float64
 21  Location              234886 non-null  object
dtypes: bool(2), float64(5), int64(5), object(10)
memory usage: 37.0+ MB

In [6]:
df.shape

(239602, 22)

## Data Cleaning:

In [7]:
df = df.drop(columns=['ID','Case Number','Year','Location','Block','Primary Type', 'Updated On'])
df['Domestic'] =  df['Domestic'].astype(int) # Converting out of Boolean
df['Arrest'] = df['Arrest'].astype(int)

In [8]:
df = df.drop(columns=['X Coordinate', 'Y Coordinate'])

In [9]:
df['IUCR'] = df['IUCR'].str.extract(r'(\d+)', expand=False).astype(int)

In [10]:
df['FBI Code'] = df['FBI Code'].str.extract(r'(\d+)', expand=False).astype(int)

In [11]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce', format='%m/%d/%Y %I:%M:%S %p')

In [12]:
# df['Updated On'] = pd.to_datetime(df['Updated On'], errors='coerce', format='%m/%d/%Y %I:%M:%S %p')

In [13]:
df = df.dropna()
df.isnull().sum()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 234233 entries, 0 to 239601
Data columns (total 13 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Date                  234233 non-null  datetime64[ns]
 1   IUCR                  234233 non-null  int64
 2   Description           234233 non-null  object
 3   Location Description  234233 non-null  object
 4   Arrest                234233 non-null  int64
 5   Domestic              234233 non-null  int64
 6   Beat                  234233 non-null  int64
 7   District              234233 non-null  int64
 8   Ward                  234233 non-null  float64
 9   Community Area        234233 non-null  int64
 10  FBI Code              234233 non-null  int64
 11  Latitude              234233 non-null  float64
 12  Longitude             234233 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(7), object(2)
memory usage: 25.0+ MB

In [14]:
districts_to_keep = [1, 13, 12, 11, 2, 9, 16, 14]

In [15]:
filtered_df = df[df['District'].isin(districts_to_keep)].drop_duplicates()

In [16]:
filtered_df.shape

(78084, 13)

In [17]:
num_true_arrests = df['Arrest'].sum()
print(f"Number of True Arrests: {num_true_arrests}")
total_cases = len(df)
print(f"Total Number of Crime Cases: {total_cases}")
print(f"Percentage of True Arrests: {num_true_arrests/total_cases*100}%") # The data is imbalanced

Number of True Arrests: 27246
Total Number of Crime Cases: 234233
Percentage of True Arrests: 11.632007445577694%

In [18]:
num_true_arrests = filtered_df['Arrest'].sum()
print(f"Number of True Arrests: {num_true_arrests}")
total_cases = len(filtered_df)
print(f"Total Number of Crime Cases: {total_cases}")
print(f"Percentage of True Arrests: {num_true_arrests/total_cases*100}%")

Number of True Arrests: 9632
Total Number of Crime Cases: 78084
Percentage of True Arrests: 12.335433635571947%

In [19]:
filtered_df.to_pickle('Chicago_crime_2022_cleaned.pickle')
filtered_df.to_json('Chicago_crime_2022_cleaned.json')
filtered_df.to_csv('Chicago_crime_2022_cleaned.csv',  index=False)